.container-main .main-header {
    position: relative;
}

.main-header .header-image{
    width: 100%;
    border-radius: 15px;
}

.main-header .pumpkin-image {
    width: 4vw;
    position: absolute;
    bottom: 0;
    border: 9px solid red;
    filter: invert(53%) sepia(97%) saturate(472%) hue-rotate(360deg) brightness(106%) contrast(104%);
    margin-bottom: 6rem;
}

.main-header .pumpkin-left {
    left: 10%;
    transform: translateX(-50%);
    animation-name: pumpkinSway;
    animation-delay: 0.1s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.main-header .pumpkin-right {
    right: 15%;
    transform: translateX(50%);
    margin-bottom: 2rem;
    animation-name: pumpkinSway;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    margin-bottom: 6rem;
    padding-left: 8rem;
}

/* Pumpkin Animations */
@keyframes pumpkinSway {
   0% {transform: rotate(0deg);}
   30% {transform: rotate(25deg);}
   45% {transform: rotate(0deg);}
   70% {transform: rotate(-25deg);}
   100% {transform: rotate(0deg);}
}

.main-header .header-button {
    background: red;
    color: #fff;
    width: 100px;
    height: 40px;
    border-radius: 10px;
}