
body {
    font-family: 'happyHalloween', sans-serif;
}

.container-main .tilmeld-form{
    width: 80%;
    margin: auto;
}

.container-main .tilmeld-form form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}

.tilmeld-form form input {
    width: 235px;
    height: 45px;
    border-radius: 10px;
}

.tilmeld-form input::placeholder {
    font-family: 'happyHalloween', sans-serif;
    text-align: center;
}

.tilmeld-form textarea {
    resize: none;
    border-radius: 10px;
    margin-top: 1rem;
}

.tilmeld-form textarea::placeholder {
    text-align: center;
}

.tilmeld-form form .form-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.form-btns input[type="submit"],
.form-btns input[type="reset"] {
    width: 108px;
    height: 40px;
    flex-shrink: 0; 
    border-radius: 10px;
    background: #FF3B3B;
    border: 0;
    color: #fff;
    cursor: pointer;
}


.sociale-medier header{
    text-align: center;
    color: #fff;
}

.tilmeld-form .sociale-medier figure{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.sociale-medier figure img {
    width: 30%;
    filter: invert(53%) sepia(97%) saturate(472%) hue-rotate(360deg) brightness(106%) contrast(104%);
    cursor: pointer;
}


.tilmeld-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tilmeld-footer .link-container {
    position: relative;
}

.tilmeld-footer .link-container a {
    text-align: left;
    text-decoration: none;
    color: #fff;
    background: red;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0.3rem;
    padding-right: 3.5rem;
    border-radius: 10px;
}

.tilmeld-footer .tilbage-knap {
    position: absolute;
    width: 38%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.tilmeld-footer .skeleton-image {
    position: relative;
}

.skeleton-image .skelet-kranium {
    width: 30%;
    transform: rotate(-90deg);
}

.tilmeld-footer .skeleton-image .skelet-krop {
    position: absolute;
    left: 29%;
    filter: invert(100%);
    width: 30%;
    transform: rotate(-90deg);
}