.container-main{
    width: 400px;
    margin: auto;
    border-style: solid;
    border-radius: 15px;
    background-color: #2D2D2D;
}

.container-main .main-header {
    position: relative;
}

.main-header .header-image{
    width: 100%;
    border-radius: 15px;
}

.main-header .pumpkin-image {
    display: flex;
    justify-content: space-evenly;
    width: 3vw;
    position: absolute;
    top: 70%;
    bottom: 30%;
    filter: invert(53%) sepia(97%) saturate(472%) hue-rotate(360deg) brightness(106%) contrast(104%);
    margin-bottom: 3rem;
}

.main-header .pumpkin-left {
    left: 5%;
    transform: translateX(-50%);
    animation-name: pumpkinSway;
    animation-delay: 0.1s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.main-header .pumpkin-right {
    right: 5%;
    transform: translateX(50%);
    animation-name: pumpkinSway;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/* Pumpkin Animations */
@keyframes pumpkinSway {
   0% {transform: rotate(0deg);}
   30% {transform: rotate(25deg);}
   45% {transform: rotate(0deg);}
   70% {transform: rotate(-25deg);}
   100% {transform: rotate(0deg);}
}

.main-header .witch {
    width: 10%;
    position: absolute;
    right: 0;
    animation-name: witchAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes witchAnimation {
    0% {transform: translateX(-20%);}
    100% {opacity: 0; transform: translate(-920%);}
}


.header-main img{
    width: 100%;
    border-radius: 13px;
}
section{
    width: 60%;
    margin: auto;
}


.tilmeld-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.tilmeld-footer .link-container {
    position: relative;
}

.tilmeld-footer .link-container a {
    text-align: left;
    text-decoration: none;
    color: #fff;
    background: red;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    padding-left: 0.3rem;
    padding-right: 3.5rem;
    border-radius: 10px;
}

.tilmeld-footer .tilbage-knap {
    position: absolute;
    width: 38%;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
}

.tilmeld-footer .skeleton-image {
    position: relative;
}

.skeleton-image .skelet-kranium {
    width: 30%;
    transform: rotate(-90deg);
}

.tilmeld-footer .skeleton-image .skelet-krop {
    position: absolute;
    left: 29%;
    filter: invert(100%);
    width: 30%;
    transform: rotate(-90deg);
}