.container-main{
    width: 400px;
    margin: auto;
    border-style: solid;
    border-radius: 15px;
    background-color: #2D2D2D;
}

.header-main img{
    width: 100%;
    border-radius: 13px;
}
section{
    width: 60%;
    margin: auto;
}
